[package]
name = "storage"
version.workspace = true
edition.workspace = true

[dependencies]
domain = { path = "../domain" }
chrono = { workspace = true }
rusqlite = { workspace = true }
rusty-money = { workspace = true }
